/* UTILS */
ul {
    list-style: none;
}

[class*="col-"] {
    padding: 8px;
}

.row {
    margin-top: 1.5rem;
}


/* BODY */
body{
    font-family: 'Montserrat', sans-serif;
}


/* TOP-CONTENT */
.top-content{
    height: calc(100vh - 80px);
    display: flex;
}

/* SIDEBAR */
.sidebar{
    width: 220px;
    flex-direction: column;
    background-color: black;
    color: #6E6E6E;
    font-weight: bold;
}

.sidebar .big-logo{
    width: 150px;
    height: 100px;
    margin-left: 20px;
}

.sidebar .small-logo{
    width: 30px;
    margin-left: 20px;
    display: none;
}

.sidebar nav{
    margin-left: 20px;
}

.sidebar nav img{
    width: 25px;
    cursor: pointer;
}

.sidebar nav span{
    margin-left: 10px;
    font-size: 0.9rem;
    line-height: 20px;
    cursor: pointer;
}

.sidebar nav span:hover{
    color: white;
}

.sidebar nav .home{
    height: 30px;
    color: white;
    border-left: 2px solid hsl(84deg 100% 59%);
}

.sidebar nav .search{
    height: 30px;
}

.sidebar nav .library {
    height: 30px;
}

.sidebar .playlist{
    margin-left: 20px;
}

.sidebar .playlist h3{
    color: white;
    height: 40px;
    padding-top: 20px;
 }

 .sidebar .playlist .crea-playlist{
    height: 50px;
    padding-top: 10px;
 }

.sidebar .playlist .crea-playlist:hover{
color: white;
cursor: pointer;
}

.sidebar .playlist .crea-playlist:hover .add-playlist{
    background-color: white;
}

.sidebar .add-playlist{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    width: 36px;
    background-color: #6E6E6E;
    color: black;
}

.sidebar .playlist ul{
    height: calc(100vh - 100px - 30px - 30px - 30px - 40px - 50px - 90px - 80px);
    min-height: 100px;
    max-height: 600px;
    overflow: auto;
}

.sidebar .playlist ul li{
    margin: 15px 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.sidebar .playlist ul li:hover{
    color: white;
}

.sidebar .user{
    margin-left: 20px;
    height: 90px;
     display: flex;
    flex-direction: column;
    justify-content: end;
}

.sidebar .user .download-app{
    padding-bottom: 15px;
    border-bottom: 2px solid gray;
    margin-right: 20px;
    font-size: 0.8rem;
}

.sidebar .user .download-app img{
    width: 15px;
    margin-right: 10px;
}

.sidebar .user .download-app .inst-app{
    display: inline-block;
}

.sidebar .user .download-app:hover{
    color: white;
    cursor: pointer;
}

.sidebar .user .profile{
    margin: 10px 0;
}

.sidebar .user .profile img{
    max-width: 30px;
    background-color: gray;
    border-radius: 50%;
}

.sidebar .user .profile .name-user{
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}


/* CONTENT */
.content{
    width: calc(100% - 220px);
    overflow: auto;
}


/* HEADER */
header{
    height: 80px;
    width: calc(100% - 220px);
    position: fixed;
    background-color: #080B12;
    justify-content: flex-end;
    align-items: center;
    opacity: 85%;
    z-index: 2;
}

header .btn-upgrade{
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: .8rem;
    cursor: pointer;
}

header .btn-upgrade:hover{
    scale: 1.1;
}


/* MAIN */

main{
    padding-top: 100px;
    background-color: #141922;
}

main .category {
    justify-content: center;
}

main .category ul{
    text-align: center;
}

main .category ul li{
    display: inline-block;
    color: #6E6E6E;
    font-weight: bold;
    margin: 0 .7rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.category ul li:hover {
    color: white
}

main .category .green-bar {
    height: 2px;
    width: 40%;
    background-color: hsl(84deg 100% 59%);
    margin: auto;
}

main h2{
    color: white;
    font-weight: bolder;
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-left: 17px;
}

main .card .image{
    position: relative;
}

main .card:hover .image>img{
    background-color: black;
    opacity: 40%;
}

main .card i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: white;
    display: none;
    cursor: pointer;
}

main .card:hover i{
    display: block;
}

main .card h4{
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

main .card .subtitle{
    color: #6E6E6E;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
}

main p{
    color: #6E6E6E;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 17px;
    margin-top: .5rem;
}

main .card .img-circle img{
    border-radius: 50%;
}


/* FOOTER */

footer{
    height: 80px;
    background-color:#282828;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer .title img{
    width: 50px;
    margin-left: 10px;
}

footer .title .details{
    margin-left: 10px;
    margin-top: 10px;
}

footer .title .name-artist{
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

footer .title .name-song{
    color: #6E6E6E;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}

footer .title .name-song:hover{
    color: white;
    text-decoration: underline;
}

footer .title .icon-title{
    color: #6E6E6E;
    margin-left: 2rem;
    margin-top: 20px;
}

footer .title .icon-title i{
    margin-right: 10px;
    cursor: pointer;
}

footer .title .icon-title i:hover{
    color: white;
}

footer .player{
    max-width: 50%;
}

footer .player .icon-player{
    text-align: center;
}

footer .player .icon-player i{
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

footer .player .icon-player :nth-child(3){
    font-size: 1.7rem;
}

footer .player .icon-player :nth-child(3):hover {
    scale: 1.1;
}

footer .player .progressive-bar-container{
    padding: 10px;
    cursor: pointer;
}

footer .progressive-bar{
    width: 500px;
    height: 4px;
    background-color: hsl(0deg 0% 35%);
    border-radius: 10px;
    margin: 0 1.5rem;
}

footer .progressive-bar-container .song-minute{
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 4px;
    color: white;
}

footer .progressive-bar .progress{
    display: block;
    height: 100%;
    width: 30%;
    background-color: hsl(0deg 0% 76%);
    position: relative;
}

footer .progressive-bar-container:hover .progress{
    background-color: green;
}


footer .progress::after{
    content: "";
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -3px;
    right: 0;   
}

footer .progressive-bar-container:hover .progress::after{
    display: block;
}

footer .volume i{
    color: white;
    margin: 5px;
}

footer .volume .volum-bar{
    width: 100px;
    height: 4px;
    background-color: hsl(0deg 0% 35%);
    border-radius: 10px;
    margin: 0 1.5rem;
    margin-top: 10px;
    cursor: pointer;
}

footer .volume .volum-bar .progress-volum{
    display: block;
    height: 100%;
    width: 30%;
    background-color: hsl(0deg 0% 76%);
    position: relative;
}

footer .volume .volum-bar:hover .progress-volum{
    background-color: green;
}

footer .progress-volum::after {
    content: "";
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -3px;
    right: 0;
}

footer .progress-volum:hover::after{
    display: block;
}

/* MEDIA */

@media screen and (max-width: 600px){
   
   /* SIDEBAR */
    .sidebar{
        width: 50px;
    }

    .sidebar .user{
        margin-top: auto;
        margin-left: 10px;
    }

    .sidebar .user .profile img{
        width: 30px;
        height:30px;
    }

    .sidebar .user .profile .name-user{
        display: none;
    }

    .sidebar .user .download-app{
        border: none;
        margin-right: 12px;
    }

    

    .sidebar .user .download-app .inst-app{
        display: none;
    }

    .sidebar .user .download-app img {
        width: 30px;
        margin-right:0;
    }

    .sidebar .small-logo{
        display: block;
        margin-left: 10px;
        margin-bottom: 20px;
    }

     .sidebar nav{
        margin-left: 10px;
        
     }

    .sidebar nav .home {
         border-left: none
    }

    /* CONTENT */
    .content {
         width: calc(100% - 50px);        
    }

    /* HEADER */
    header{
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 480px) {
    footer .player .icon-player i {
            margin: 0 3px;
        }

    footer .title img{
        display: none;
    }
}


